.nav
    .nav-content
        .logo(ui-sref="home")
            img(src="img/ferremar_logo.png")
        .busqueda
            .lupa
                img(src="img/ferremar_lupa.png")
            md-autocomplete(
                flex
                md-selected-item="ctrl.productos.item"
                md-selected-item-change="ctrl.productos.seleccion()"
                md-search-text="ctrl.productos.busqueda"
                md-search-text-change="ctrl.productos.buscar()" 
                md-items="item in ctrl.productos.filtrar()" 
                md-item-text="item.nombre"
                md-delay="1000"
                md-require-match="true"
                md-dropdown-items="10"
                placeholder="¿Que estas buscando?")
        .botones
            .usuario
                img(src="img/ferremar_usuario.png")
            .sesion
                p Inicia sesion  o registrate
            .linea
            md-button.carrito
                img(src="img/ferremar_carrito.png")
            .contador
                h3 0
.subnav
    md-button(ui-sref="productos") MARCAS		
    md-button(ng-click="ctrl.menu.abrir()") HERRAMIENTAS
    md-button(ng-click="ctrl.menu.abrir()") CONSTRUCCION
    md-button(ng-click="ctrl.menu.abrir()") HOGAR
    md-button(ng-click="ctrl.menu.abrir()") FERRETERIA
